<!-- Passing data from parent to child -->
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<!-- This is the whole outer component -->
<mat-drawer-container>
    <!-- This will get opened or closed based on this opened term -->
    <!-- concept of property binding -->
    <mat-drawer mode="side" [opened]="sideBarOpen"> 
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <!-- This will check the routing file and will display the result accordingly -->
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    
</mat-drawer-container>

<app-footer></app-footer>