
<div>
    <app-widget-area></app-widget-area>
</div>

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
   <!-- This will give us a card component from material -->
    <mat-card fxFlex="50">
     <app-widget-card></app-widget-card>
   </mat-card>

   <mat-card fxFlex="50">
    <app-widget-chart></app-widget-chart>
   </mat-card>

   <!-- <mat-card fxFlex="25">
    <app-widget-chart></app-widget-chart>
   </mat-card>

   <mat-card fxFlex="25">
    <app-widget-chart></app-widget-chart>
   </mat-card> -->
</div>

<br />

<mat-divider></mat-divider>

<br />

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>